<ion-header class="ion-no-border">

  <ion-toolbar>
   <ion-title class="ion-text-center">EVAT-Personal</ion-title>

  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar  animated
    (ionChange)="buscar( $event )">
  </ion-searchbar>
  </ion-toolbar>


</ion-header>


<ion-content >



<ion-toolbar>
<ion-segment [(ngModel)]="icons" color="secondary" >
<ion-segment-button value="doctores">
<ion-label>Doctores</ion-label>
</ion-segment-button>
<ion-segment-button value="enfermeros">
<ion-label>Enfermeros</ion-label>
</ion-segment-button>
</ion-segment>
</ion-toolbar>
  
 
    <div [ngSwitch]="icons">

        <ion-list *ngSwitchCase="'doctores'">
          <ng-container *ngFor="let listado of dataPersonas  | filtro: textBuscar ">
          <ion-item *ngIf="listado.tipo_de_persona == 0 "  (click)="DoctorLlamada(listado.nombres,listado.apellidos,listado.id)" detail >
            <ion-label>
              <h2 >{{listado.nombres}} {{listado.apellidos}}</h2>
              <p >Telefono: {{listado.numero_telefonico}}</p>
              <p>Correo: {{listado.correo}}</p>
              <ng-container *ngFor="let lista_llamadas of (dataLlamada) ">
                <p *ngIf="listado.id == lista_llamadas.id_persona ">ESTE DOCTOR ESTA EN LLAMADA</p>
              </ng-container>
            </ion-label>

          </ion-item>
        </ng-container>
          
        </ion-list>

        <ion-list *ngSwitchCase="'enfermeros'">
          <ng-container *ngFor="let listado of dataPersonas | filtro: textBuscar ">
          <ion-item *ngIf="listado.tipo_de_persona == 1 "  >
            <ion-label>
              <h2 >{{listado.nombres}} {{listado.apellidos}}</h2>
              <p >Telefono: {{listado.numero_telefonico}}</p>
              <p>Correo: {{listado.correo}}</p>
            </ion-label>

          </ion-item>
        </ng-container>
          
        </ion-list>

    </div>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


</ion-content>

