ion-content {
        --ion-background-color: rgb(240, 255, 240);
    }
    
ion-header {
        --ion-background-color: rgb(220, 255, 220);
    }


    
ion-searchbar {
        --ion-background-color: rgb(255, 255, 255); 
    }