<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">EVAT-Crear un usuario.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <form #formulario='ngForm'(ngSubmit)='onSubmitTemplate()' >
    <ion-list-header>
      <ion-label>{{ persona.nombres || 'No hay nombre'}} </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Nombres: &nbsp;</ion-label>
      <ion-input type='text'
      name='nombre'
      [(ngModel)]='persona.nombres'
      required></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>{{ persona.apellidos || 'No hay apellido'}} </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Apellidos: &nbsp;</ion-label>
      <ion-input type='text'
      name='apellido'
      [(ngModel)]='persona.apellidos'
      required></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Nombre de Usuario: &nbsp;</ion-label>
      <ion-input type='text'
      name='username'
      [(ngModel)]='persona.username'
      placeholder="Ejemplo: PabloG"
      required></ion-input>
    </ion-item>
    
    <ion-list-header>
      <ion-label>{{ persona.numero_telefonico || 'No hay telefono'}} </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Telefono: &nbsp;</ion-label>
      <ion-input type='text'
      name='telefono'
      [(ngModel)]='persona.numero_telefonico'
      required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña: &nbsp;</ion-label>
      <ion-input type='password'
      name='password'
      minlength='6'
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
      placeholder="Ejemplo: AxBjt20"
      [(ngModel)]='persona.password'
      required></ion-input>
    </ion-item>



    <ion-list-header>
      <ion-label>{{ persona.correo || 'No hay correo'}} </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Correo: &nbsp;</ion-label>
      <ion-input type='email'
      name='correo'
      pattern='^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$'
      [(ngModel)]='persona.correo'
      required>
      </ion-input>
    </ion-item>
<ion-radio-group value='doctor'>
    <ion-item>
      <ion-label>Es doctor &nbsp;</ion-label>
      <ion-radio value='doctor' (click)='persona.tipo_de_persona=0' name='opcionMedico'></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Es enfermero &nbsp;</ion-label>
      <ion-radio value='enfermero'(click)='persona.tipo_de_persona=1' name='opcionEnfermero'></ion-radio>
    </ion-item>
</ion-radio-group>
    <ion-item>
      <ion-button expand='full' type='submit'
      color="primary"
      [disabled]='formulario.invalid' 
      (click)='sendPostRequest()'
      >Agregar</ion-button>
    </ion-item>
  
  </form>
  
</ion-content>