ion-content {
    --ion-background-color: rgb(240, 255, 240);
}

ion-header {
    --ion-background-color: rgb(220, 255, 220);
}

ion-content ion-button {
    --background: rgb(255, 255, 255);
    --color: rgb(80,80,80);
}

ion-input {
    --background:rgb(255, 255, 255);
}

ion-item{
    --border-width: 0px;
    --padding-top:10px;
    --padding-bottom:10px;
}

ion-checkbox{
    --border-width: 2px;
    --background:rgb(255, 255, 255);
}